DB_URI="your_mongodb_connection_string_here: You can use without SRV to have if DNS is finding it hard to connect to teh ATLAS Server"
PORT= 8080
JTW_TOKEN = "Enter a jwt token key that you want to have"
STRIPE_SECRET_KEY =""